.header-block{
    background-color: #153840;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    color:white;
    .personal-data-block{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }span{
        padding-right: 10px;
    }
    
    p{
        
        align-items: flex-start;
    }
}

/* @media (min-width: 700px) {
    
    .personal-data-block{
            width: 100%;
        }
        
    
 } */

