body{
  background-color: #efc7a0; 
  /* background-color: red; */
}

.App {
  /*background-color: #153840;*/
  margin: 2% 10% 2% 10%;
}

.block-navbar{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:30px;

}

.button-navbar{
  margin:40px 0px 10px 0px ;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #153840;
  background-color:#153840;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor:pointer;
}