.tecnologies-block{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    
    
} 
.tecnologies-block__item{
    width: 20%;
    border: 1px solid #153840;
    border-radius: 10px;
    background-color: white;
    margin:10px;
    height: 200px;
    box-shadow: 0px 10px 10px -3px #153840;
    /* display: flex;
    flex-wrap: wrap; */
    
    h3{
        text-align: center;
    }
}
.tecnologies-block_type{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
        
        margin: 5px;
        background-color: #153840;
        color: #fff;
        padding:5px;
        border-radius: 5px;
        text-align: center;
    }
}

@media (max-width:900px){
    .tecnologies-block__item{
        
        width: 100%;
    }
}
.tecnologies-block-title{
    text-align: center;
    h2{
        color: #153840;
        font-size: 30px;
    }
    span{
        margin-right: 10px;
        
    }
}
